{{#if devoured}}
    <h3>Burger: {{burger_name}}</h3>
    <p>{{devoured}}</p>
{{/if}}


{{#if devoured}}
<div class="each-burger">
    <h3>Burger: {{burger_name}}</h3>
    <div class="devoure-btn">
        <button type="button" id={{id}} class="dev-btn btn btn-success">Devoure</button>
    </div>
</div>
{{/if}}