

<h1>Eat The Burger!!</h1>
<div class="main-burgers">
    <div class="saved-burgers">
            {{#each burgers}}
            {{>  burgers }}
            {{/each}}
    </div>
    <div class="devoured-burgers">
        {{#each devoured}}
        {{>  devoured }}
        {{/each}}
    </div>
</div>  


<div class="main-form">
    <form>
    <div class="form-group">
        <input class="form-control" id="ex2" type="text" placeholder="Enter your burger name">
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </div>
    </form>
</div>
{{!-- <h1>{{{lunch}}} </h1> --}}