<style>
    h1{
        text-align: center;
        color: white;
        margin-top: 170px;
    }
    .main-form{
        text-align: center;
        color: white;
        width: 25rem;
        margin: auto;
    }
    .form-group,{
        width: 30rem;
        
    }

</style>

<h1>Eat The Burger!!</h1>
<div class="burgers">
    <div class="saved-burgers">
            {{#each burgers}}
            {{>  burgers }}
            {{/each}}
    </div>
    <div class="saved-burgers">
        {{#each devoured}}
        {{>  devoured }}
        {{/each}}
    </div>
</div>  


<div class="main-form">
    <form>
    <div class="form-group">
        <input class="form-control" id="ex2" type="text" placeholder="Enter your burger name">
    </div>
  <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </form>
</div>
{{!-- <h1>{{{lunch}}} </h1> --}}